.dark-theme{
    .toolbar-background-ios,.item-ios{
        background: #2D2D2D !important;
        color:#ffffff !important;
    }
    .themedark.item-ios{
        background: #4A4242 !important;
    }
}